---
import Logo from '../components/Logo.astro';
import Button from '../components/Button.astro';
import Container from '../layouts/Container.astro';
---

<div class="border-b-8 border-black"></div>
<Container>
  <header x-data="{ isOpen: false }">
    <nav class="flex items-center justify-between py-6" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">UpNotify</span>
          <Logo/>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button @click="isOpen = true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-dark">
          <span class="sr-only">Open main menu</span>
          <svg class="h-10 w-10" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M3.75773 9.5647C3.36118 9.5647 3 9.29458 3 8.89803C3 6.5048 4.9401 4.5647 7.33333 4.5647H16.6667C19.0599 4.5647 21 6.5048 21 8.89803C21 9.29458 20.6388 9.5647 20.2423 9.5647H19.512H18.1079L18.0151 9.56463C17.5561 9.56415 17.1497 9.56372 16.7532 9.67355C16.3566 9.78339 16.0084 9.99283 15.615 10.2294L15.5355 10.2772C15.0298 10.5806 14.777 10.7323 14.5 10.7323C14.223 10.7323 13.9702 10.5806 13.4645 10.2772L13.385 10.2294C12.9916 9.99283 12.6434 9.78339 12.2468 9.67355C11.8503 9.56372 11.4439 9.56415 10.9849 9.56463L10.8921 9.5647H3.75773ZM3.18145 10.5647C2.83767 10.5647 2.66579 10.5647 2.34973 10.6734C1.89604 10.8293 1.26465 11.4607 1.10866 11.9144C1 12.2305 1 12.3419 1 12.5646C1 12.7876 1 12.8991 1.10881 13.2154C1.26481 13.6688 1.89591 14.2999 2.3493 14.4559C2.66555 14.5647 2.83762 14.5647 3.18177 14.5647H20.8182C21.1624 14.5647 21.3344 14.5647 21.6507 14.4559C22.1041 14.2999 22.7352 13.6688 22.8912 13.2154C23 12.8991 23 12.7876 23 12.5646C23 12.3419 23 12.2305 22.8913 11.9144C22.7354 11.4607 22.104 10.8293 21.6503 10.6734C21.3342 10.5647 21.1623 10.5647 20.8186 10.5647H18.1079C17.5043 10.5647 17.388 10.573 17.287 10.601C17.1861 10.6289 17.0821 10.6816 16.5644 10.9922L15.0145 11.9222C14.6978 12.1122 14.3022 12.1122 13.9855 11.9222L13.2105 11.4572L12.4356 10.9922C11.9179 10.6816 11.8139 10.6289 11.713 10.601C11.612 10.573 11.4957 10.5647 10.8921 10.5647H3.18145Z" fill="#FFD700"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.18145 10.5647C2.83767 10.5647 2.66579 10.5647 2.34973 10.6734C1.89604 10.8293 1.26465 11.4607 1.10866 11.9144C1 12.2305 1 12.3419 1 12.5646C1 12.7876 1 12.8991 1.10881 13.2154C1.26481 13.6688 1.89591 14.2999 2.3493 14.4559C2.66555 14.5647 2.83762 14.5647 3.18177 14.5647H20.8182C21.1624 14.5647 21.3344 14.5647 21.6507 14.4559C22.1041 14.2999 22.7352 13.6688 22.8912 13.2154C23 12.8991 23 12.7876 23 12.5646C23 12.3419 23 12.2305 22.8913 11.9144C22.7354 11.4607 22.104 10.8293 21.6503 10.6734C21.3342 10.5647 21.1623 10.5647 20.8186 10.5647H18.1079C17.5043 10.5647 17.388 10.573 17.287 10.601C17.1861 10.6289 17.0821 10.6816 16.5644 10.9922L15.0145 11.9222C14.6978 12.1122 14.3022 12.1122 13.9855 11.9222L13.2105 11.4572L12.4356 10.9922C11.9179 10.6816 11.8139 10.6289 11.713 10.601C11.612 10.573 11.4957 10.5647 10.8921 10.5647H3.18145Z" fill="#FFD700"/>
            <path opacity="0.4" d="M3.75774 15.5647H20.2423C20.6388 15.5647 21 15.8348 21 16.2314C21 18.6246 19.0599 20.5647 16.6667 20.5647H7.33333C4.9401 20.5647 3 18.6246 3 16.2314C3 15.8348 3.36119 15.5647 3.75774 15.5647Z" fill="#FFD700"/>
            </svg>
            
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#features" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Features</a>
        <a href="#pricing" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Pricing</a>
        <a href="/blog" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Blog</a>
        <a href="#faq" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">FAQ</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <Button>
          Waitlist
        </Button>
      </div>
    </nav>
    
    <div 
      x-show="isOpen"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 translate-x-full"
      x-transition:enter-end="opacity-100 translate-x-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 translate-x-0"
      x-transition:leave-end="opacity-0 translate-x-full"
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-pearl px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 lg:hidden"
      @click.away="isOpen = false"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">UpNotify</span>
          <Logo/>
        </a>
        <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-dark">
          <span class="sr-only">Close menu</span>
          <svg class="h-8 w-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0859 22.9142L1.08594 3.91424L3.91436 1.08582L22.9144 20.0858L20.0859 22.9142Z" fill="#FFD700"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.91406 22.9142L22.9141 3.91424L20.0856 1.08582L1.08564 20.0858L3.91406 22.9142Z" fill="#FFD700"/>
            </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="/features" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Features</a>
            <a href="/pricing" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Pricing</a>
            <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Blog</a>
            <a href="/faq" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">FAQ</a>
          </div>
          <div class="py-6">
            <Button href="#contact">
              Waitlist
            </Button>
          </div>
        </div>
      </div>
    </div>
  </header>
</Container>
