---
import Logo from '../components/Logo.astro';
import Button from '../components/Button.astro';
import Container from '../layouts/Container.astro';
---

<div class="border-b-8 border-black"></div>
<Container>
  <header x-data="{ isOpen: false }">
    <nav class="flex items-center justify-between py-6" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">UpNotify</span>
          <Logo/>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button @click="isOpen = true" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-dark">
          <span class="sr-only">Open main menu</span>
          <svg class="h-10 w-10 text-gold" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          
            
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href={Astro.url.pathname === '/' ? '#features' : '/features'}  class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Features</a>
        <!-- <a href="/pricing" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Pricing</a> -->
        <!-- <a href="/blog" class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">Blog</a> -->
        <a href={Astro.url.pathname === '/' ? '#faq' : '/faq'}  class="text-lg font-mono font-medium leading-6 text-dark hover:text-dark/80">FAQ</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <Button href="/#waitlist">
          Waitlist
        </Button>
      </div>
    </nav>
    
    <div 
      x-show="isOpen"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 translate-x-full"
      x-transition:enter-end="opacity-100 translate-x-0"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100 translate-x-0"
      x-transition:leave-end="opacity-0 translate-x-full"
      class="border-t-8 border-black fixed inset-y-0 right-0 z-10 w-full overflow-y-auto  bg-pearl px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 lg:hidden"
      @click.away="isOpen = false"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">UpNotify</span>
          <Logo/>
        </a>
        <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-dark">
          <span class="sr-only">Close menu</span>
          <svg class="h-8 w-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0859 22.9142L1.08594 3.91424L3.91436 1.08582L22.9144 20.0858L20.0859 22.9142Z" fill="#FFD700"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.91406 22.9142L22.9141 3.91424L20.0856 1.08582L1.08564 20.0858L3.91406 22.9142Z" fill="#FFD700"/>
            </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href={Astro.url.pathname === '/' ? '#features' : '/features'}  class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Features</a>
            <!-- <a href="/pricing" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Pricing</a> -->
            <!-- <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">Blog</a> -->
            <a href={Astro.url.pathname === '/' ? '#faq' : '/faq'}  class="-mx-3 block rounded-lg px-3 py-2 text-base font-mono font-medium leading-7 text-dark hover:bg-dark/20">FAQ</a>
          </div>
          <div class="py-6">
            <Button href="/#waitlist" >
              Waitlist
            </Button>
          </div>
        </div>
      </div>
    </div>
  </header>
</Container>
