---
import Layout from './Layout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import WaitlistForm from '../components/WaitlistForm.astro';

const { frontmatter } = Astro.props;
---




<Layout title={frontmatter.title} description={frontmatter.description}>
	<div class="">
	  <NavBar/>


    <main class="flex-grow container mx-auto px-4 py-12 relative">
      <article class="max-w-7xl mx-auto bg-pearl p-8 rounded-2xl border-8 border-dark shadow-lime-lg">
        <p class="text-gray-600 font-mono mb-4">Published on {new Date(frontmatter.pubDate).toLocaleDateString()}</p>
        <div class="prose-h1:font-sans font-mono prose prose-lg max-w-none">
          <slot />
        </div>
      </article>
    </main>

    <WaitlistForm/>
	  
	  <Footer/>


	  
	</div>
	<script type="application/ld+json" set:html={JSON.stringify({
	  "@context": "http://schema.org",
	  "@type": "SoftwareApplication",
	  "name": "UpNotify",
	  "applicationCategory": "BusinessApplication",
	  "operatingSystem": "Web",
	  "description": "UpNotify helps freelancers find Upwork jobs faster with advanced RSS and search capabilities.",
	  "offers": {
		"@type": "Offer",
		"price": "6.00",
		"priceCurrency": "USD"
	  }
	})} />
  </Layout>

